mt6580 filter=lfs diff=lfs merge=lfs -text
mt6771 filter=lfs diff=lfs merge=lfs -text
mt6785 filter=lfs diff=lfs merge=lfs -text
mt6833 filter=lfs diff=lfs merge=lfs -text
utils filter=lfs diff=lfs merge=lfs -text
hwc_common filter=lfs diff=lfs merge=lfs -text
hwc_ui filter=lfs diff=lfs merge=lfs -text
mt6877 filter=lfs diff=lfs merge=lfs -text
fold filter=lfs diff=lfs merge=lfs -text
mt6739 filter=lfs diff=lfs merge=lfs -text
mt6853 filter=lfs diff=lfs merge=lfs -text
mt6885 filter=lfs diff=lfs merge=lfs -text
mtk_simple filter=lfs diff=lfs merge=lfs -text
2.0.0 filter=lfs diff=lfs merge=lfs -text
ld20 filter=lfs diff=lfs merge=lfs -text
mt6761 filter=lfs diff=lfs merge=lfs -text
mt6765 filter=lfs diff=lfs merge=lfs -text
mt6768 filter=lfs diff=lfs merge=lfs -text
